* {
  box-sizing: border-box;
}

header {
  color: white;
  background-color: rgb(13, 20, 119);
  text-align: center;
  padding: 20px;
}

header img {
  display: block;
  margin: auto;
}

nav {
  background-color: rgb(128, 11, 11);
  text-align: center;
  font-size: 18px;
  padding: 18px;
}

nav a {
  color: white;
  padding: 20px;
  text-decoration: none;
}

h1 {
  font-size: 28px;
  color: white;
  margin: 10px;
}

h2 {
  color: black;
  font-size: 23px;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

.flex {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Article */
.news {
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  gap:20%;
  font-size: 18px;
  /* TODO mettre du gap sur le conteneur flex */
}

/*Paragraphe*/
p {
  margin: 20px 50px;
  text-align: left;
}

strong {
  text-decoration: underline;
}

/*Images*/
img {
  max-width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  display: flex;
  margin: 12px;
  padding-right:10px;
}

.news img, .article img,
#flex img #contact img {
  display: block;
  margin: 0 auto;

}



/*Footer*/
footer {
  background-color: rgb(128, 11, 11);
  padding: 20px;
}

h3 {
  color: white;
}

.socials {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.socials img {
  display: block;
}

/*Media Queries*/
@media screen and (max-width: 780px) {
  .flex {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 10px;
  }
}

/* Formulaire */
h6 {
  color: white;
  text-align: center;
  font-size: 26px;
  text-decoration: underline;
  background-color: rgb(13, 20, 119);
  padding: 20px;
  margin: 20px;
  border-radius: 12px;
}

.contact {
  text-align: center;
}

.contact-form {
  background-color: rgb(128, 11, 11);
  padding-top: 16px;
  border-color: rgb(13, 20, 119);
  border-radius: 12px;
  border-style: solid;
  margin-bottom: 16px;
}

.contact-form__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
  padding-top: 6px;
  text-decoration: underline;
  font-size: 18px;
  margin: 8px;
}

.form_send {
  padding-bottom: 12px;
  margin: 12px;
}

.form_message {
  width: 100%;
  margin-bottom: 20px;
}

/*Formulaire arriere plan*/
.form_background {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(images/06_LFP13_Athletic_Club_Web_Hero_Tornem_a_Casa_3200x2000_01_CAT_-1x.webp);
  background-size: cover;
  background-position: center;
}
